<h1 [ngStyle]="{'color':corDaFonte, 'background':corDoFundo}">Curso de Angular</h1>
<p [ngClass]="estilo"> comp-atributos works!</p>
<button (click)="mudar()">Ativar/Desativar</button>

<hr>
<ng-content select="h2"></ng-content>

<h1>Lista de compras: </h1>
<input type="text" [(ngModel)]="item">
<button (click)="adicionarLista()">Adicionar a lista</button>
<p> {{ item }}</p>

<ul>
    <li *ngFor="let elemento of lista"> {{ elemento }}</li>
</ul>

<hr>

<ng-template  [ngIf]="isEnableBlock">
    <a href="#"> teste1</a>
</ng-template>

<br>

<ng-template  [ngIf]="isEnableBlock">
    <a href="#"> teste2</a>
</ng-template>

<hr>

<ng-content select="p"></ng-content>

